# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Hatena Blog Entry Post'
      'submenu': [
        { 'label': 'Post Current File', 'command': 'hatena-blog-entry-post:post-current-file' }
        { 'label': 'Post Selection',    'command': 'hatena-blog-entry-post:post-selection' }
        { 'label': 'Entry List',        'command': 'hatena-blog-entry-post:entry-list'}
      ]
    ]
  }
]
